@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  overflow-x: hidden;
  display: flex;
}

.sidebar{
  width: 19%;
  background-color: chocolate;
  overflow-x: hidden;
}

.sidebar-body{
  width: 81%;
  overflow-x: hidden;
  background-color: darkcyan;
}


@media (max-width:768px) {
  .App{
    height: auto;
    padding: 5px;
  }
  .sidebar{
    display: none;
  }
  .sidebar-body{
    width: 100%;
  }
}