@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;;
}

.App{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
}

.sidebar{
  width: 20%;
  height: 100%;
  background-color: chocolate;
}

.sidebar-body{
  width: 80%;
  height: 100%;
  background-color: darkcyan;
}


@media (max-width:768px) {
  .sidebar{
    width: 80%;
  }
  .sidebar-body{
    width: 20%;
  }
  
}